
<section>
    <h1>Pneumonia Detector</h1>
</section>
<section>
    <a href="/login">Login</a>
    <a href="/sign-up">Sign Up</a>
</section>
Sign up for an account to post your x-rays photograph online for people to tell if you have pneumonia.